<div class="card">
  <p>Current Temperature: {{currentTemp}} °F</p>
  <p>Current Weather: {{currentWeatherDesc}}</p>
  <hr>
  <div class="forecast">
    <p>Forecast for next 5 days</p>
    <div class="card" *ngFor="let single of forecastArr">
      <span>Date: {{convertDate(single.dt).getMonth() + 1}}/{{convertDate(single.dt).getDate()}} {{convertDate(single.dt).getHours()-7}}am </span>
      <span>High: {{single.main.temp_max}} °F</span>
      <span>Low: {{single.main.temp_min}} °F</span>
      <span>Weather: {{single.weather[0].description}}</span>
    </div>
  </div>
</div>
