<div class="card">
  <label for="signinEmail">EMAIL: </label>
  <input #emailSignIn type="text" name="signinEmail" value="">
  <label for="signinPassword">PASSWORD: </label>
  <input #passwordSignIn type="password" name="signinPassword" value="">
  <br>
  <button (click)="signIn(emailSignIn.value, passwordSignIn.value); emailSignIn.value=''; passwordSignIn.value=''" id="btn-create-user">SIGN IN</button>
</div>


<div class="card">
  <label for="email">EMAIL: </label>
  <input #email type="text" name="email" value="">
  <label for="password">PASSWORD: </label>
  <input #password type="password" name="password" value="">
  <br>
  <button (click)="createUser(email.value, password.value); email.value=''; password.value=''" id="btn-create-user">SIGN UP</button>
  <button (click)="googleLogin()" id="btn-google"></button>
</div>
<br>
