.card {
  height: 500px;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

input {
  margin: 10px;
}

#btn-google {
    display: block;
    width: 191px;
    height: 46px;
    border: 0;
    margin: 0 auto;
    background-image: url('http://www.setyourowntests.com/_/rsrc/1468869481521/help/accounts/btn_google_signin_dark_normal_web%402x.png');
    background-size: 191px 46px; 
    cursor: pointer;
}
