<p>
  {{(trailToDisplay)?.name}}
  {{(trailToDisplay)?.latitude}}
  {{(trailToDisplay)?.longitude}}
</p>
<div class="card report" *ngFor="let singleReport of specificReportsToDisplay">
  <p>Trail Report: </p>

  <div class="card-body">
   <p>{{singleReport}}</p>
 </div>
</div>

<div id="gmap" #googlemap ></div>


<app-air-quality *ngIf="latLng" [childLatLng]="latLng"></app-air-quality>
<br>
<app-open-weather *ngIf="latLng" [childLatLng]="latLng"></app-open-weather>
<br>
<app-weather *ngIf="latLng" [childLatLng]="latLng"></app-weather>
