<!-- BULMA NAVBAR -->

<div class="navbar">

  <!-- left side -->
  <div class="navbar-brand">
    <div class="navbar-item">
      <img id="tree" src="/assets/img/tree.png">
    </div>
    <div class="navbar-item">
      <a routerLink="" class="links">HOME</a>
    </div>
    <div class="navbar-item">
      <a routerLink="" class="links">HOME</a>
    </div>
  </div>

  <!-- right side -->
  <div class="navbar-menu">
    <div class="navbar-end">

      <!-- not logged in -->
      <div *ngIf="!isLoggedIn">
        <div class="navbar-item">
          <a routerLink="auth" class="links">LOGIN</a>
        </div>
      </div>

      <button class="button is-primary is-rounded">it works</button>

      <!-- logged in -->
      <div *ngIf="isLoggedIn">
        <div class="navbar-item">
          <a (click)="signOut()" class="links">LOGOUT</a>
        </div>
        <div class="navbar-item">
          <a routerLink="auth" class="links">{{user?.email}}</a>
        </div>
      </div>

    </div>
  </div>

</div>

<router-outlet></router-outlet>
