
<div id="navwell">
  <div class="navbar">
    <h3><a routerLink="" class="links">HOME</a></h3>
    <h3><a routerLink="trails" class="links">TRAILS</a></h3>

    <div *ngIf="!isLoggedIn">
      <h3><a routerLink="auth" class="links">LOGIN</a></h3>
    </div>

    <div *ngIf="isLoggedIn">
      <div class="row">
        <div class="col-sm-6">
          <h3><a (click)="signOut()" class="links">LOGOUT</a></h3>
        </div>
        <div class="col-sm-6">
          <h3><a routerLink="auth" class="links">{{user?.email}}</a></h3>
        </div>
      </div>
    </div>

  </div>
</div>
<router-outlet></router-outlet>
