@font-face {
  font-family: mountain;
  src: url("/assets/fonts/beyond_the_mountains.ttf") format('truetype');
}

@font-face {
  font-family: "Steelfish";
  src: url("./steelfish.ttf");
}

@font-face {
  font-family: "arborCrest";
  src: url("./arborcrest.ttf");
}

/* * {
  font-family: "arborCrest";
} */

body{
  padding: 0px 75px;
}
